<!-- author @Shankar -->
<!DOCTYPE html>
<html ng-app="building">
	<head>
		<title>Floor Plan</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
		<script type="text/javascript" src="scripts/floorplanCtrl.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" 
		integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" 
		crossorigin="anonymous">
	</head>
	<body>
		<div ng-controller="FloorplanCtrl" style="position:relative;left:419px;top:20px;">
			<div>
				<div style="border:2px solid red; width:500px;height:350px;"></div>
				<div style="background:green; transform-origin:top; transform:rotate(335deg);width:1px;height:386px;
				position:absolute;top:0px;"></div>
				<div style="border-left:1px solid green;height:350px;position:absolute;left:163px;transform-origin: top;transform:rotate(180deg);"></div>
				<div style="top:161px;border-left:1px solid green;height:109px;position:absolute;left:163px;
				transform-origin: top;transform:rotate(270deg);"></div>
				<div style="border-left:1px solid green;height:160px;position:absolute;left:272px;transform-origin: top;transform:rotate(180deg);top:162px;"></div>
				<div style="top:161px;border-left:1px solid green;height:197px;position:absolute;left:300px;
				transform-origin: top;transform:rotate(270deg);"></div>
				<div style="border-left:1px solid green;height:160px;position:absolute;left:300px;transform-origin: top;transform:rotate(180deg);top:162px;"></div>
				<div style="border-left:1px solid green;height:160px;position:absolute;left:400px;transform-origin: top;transform:rotate(180deg);top:162px;"></div>
				<div style="top:205px;border-left:1px solid green;height:180px;position:absolute;left:163px;
				transform-origin: top;transform:rotate(270deg);"></div>
				<div style="top:204px;border-left:1px solid green;height:145px;position:absolute;left:382px;
				transform-origin: top;transform:rotate(360deg);"></div>
				<div style="top:205px;border-left:1px solid green;height:116px;position:absolute;left:382px;
				transform-origin: top;transform:rotate(270deg);"></div>
				<div style="position:absolute;left:415px;top:72px;">Rest Room</div>
				<div style="position:absolute;left:456px;top:126px;">
					<i class='fas fa-restroom' style='font-size:24px;color:red'></i>
				</div>
				<div style="position:absolute;left:316px;top:269px;transform-origin:top;transform:rotate(270deg);">Canteen</div>
				<div style="position:absolute;left:290px;top:267px;transform:rotate(360deg);">
					<span><i class="fas fa-utensils" style="font-size: 14px;position:absolute;bottom:20px;left:47px;transform-origin:top;transform:rotate(270deg);"></i></span>
				</div>
				<div style="position:absolute;height:145px;width:180px;top:205px;left:163px;">
					<div ng-repeat="canItem in chairSpaceIds | limitTo: 6">
					<div  style="margin-top:10px;height:50px;width:50px;margin-left:10px;float:left;">{{canItem.cSpaceid}}
						<div style="position:absolute;margin-top:10px;height:50px;width:50px;margin-left:10px;
						float:left;">
							<span data-toggle="tooltip" title="{{canItem.cantChar}}">
								<i class="fas fa-chair" style="color:green;font-size:18px;"></i>
							</span>
							<span data-toggle="tooltip" title="delete">
								<i class="fas fa-trash" style="font-size:10px; cursor:pointer;"
								ng-click="deleteCantChairs(canItem.cSpaceid);"></i>
							</span>
						</div>
					</div>
					</div>
				</div>
				<div style="position:absolute;height:30px;width:30px;top:330px;left:328px;">
					<span ng-click="formShow();">
						<i class="fas fa-plus-circle" style="font-size: 18px;color:blue;cursor:pointer;"></i>
					</span>
					<span><i class="fas fa-undo" style="position:absolute;right:35px;cursor:pointer;" 
						ng-click="prevCan(prevStr);"></i></span>
					<div ng-show="showForm && !exceeded" 
					style="position:absolute;left:210px;width:186px;bottom:90px;">
				        <div style="font-size:18px;color:blue;">Add chairs in Canteen</div>
				        <input style="width:150px;margin-top:10px;" type="text" ng-model="cSpaceid" 
				        placeholder="enter spaceId" maxlength="5">
				        <div ng-show="validateCanChair" style="color:red;">Please enter different SpaceId</div>
				        <input style="width:150px;margin-top:10px;" type="text" ng-model="cName" 
				        placeholder="enter chair name">
				        <button class="btn btn-primary" style="margin-top:20px;" 
				          	ng-click="placeCanteen();">Place
				        </button>                              
					</div>
				</div>
				<div style="position:absolute;left:392px;top:265px;">Manager Room</div>
				<div style="position:absolute;left:392px;top:214px;">
					<i class='fas fa-user' style='font-size:24px'></i>
				</div>
					<!-- Entrance Block Start -->
					<!-- ebs1 start -->
					<div style="margin-top:20px; position:absolute;left:0px;top:72px;height:50px;width:50px;
						transform:rotate(66deg);">EBS1
					</div>
					<div ng-show="ebs1" style="margin-top:20px; position:absolute;left:-14px;top:72px;
					height:50px;width:50px;transform:rotate(66deg);">
						<span data-toggle="tooltip" title="{{ebs1.chairName}}">
							<i class="fas fa-chair" style="color:brown;font-size:18px;"></i>
						</span>
						<span data-toggle="tooltip" title="delete">
							<i class="fas fa-trash" style="font-size:10px; cursor:pointer;"
							ng-click="deleteChairs(ebs1);"></i>
						</span>
					</div>	
					<!-- ebs1 end -->
					<!-- ebs2 start -->
					<div style="margin-top:20px; position:absolute;left:79px;top:239px;height:50px;width:50px;
					transform:rotate(62deg);">EBS2</div>
					<div ng-show="ebs2" style="margin-top:20px; position:absolute;left:62px;top:239px;height:50px;width:50px;transform:rotate(62deg);">
						<span data-toggle="tooltip" title="{{ebs2.chairName}}">
							<i class="fas fa-chair" style="color:brown;font-size:18px;"></i>
						</span>
						<span data-toggle="tooltip" title="delete">
							<i class="fas fa-trash" style="font-size:10px; cursor:pointer;"
							ng-click="deleteChairs(ebs2);"></i>
						</span>
					</div>
					<!-- ebs2 end -->
					<!-- ebs3 start -->
					<div style="margin-top:13px; position:absolute;left:21px;top:283px;height:50px;width:50px;
					transform:rotate(180deg);">Lift</div>
					<div style="margin-top:10px; position:absolute;left:0px;top:239px;height:50px;width:50px;
					transform:rotate(270deg);">EBS3</div>
					<div ng-show="ebs3" style="margin-top:10px; position:absolute;left:14px;top:239px;height:50px;width:50px;transform:rotate(270deg);">
						<span data-toggle="tooltip" title="{{ebs3.chairName}}">
							<i class="fas fa-chair" style="color:brown;font-size:18px;"></i>
						</span>
						<span data-toggle="tooltip" title="delete">
							<i class="fas fa-trash" style="font-size:10px; cursor:pointer;"
							ng-click="deleteChairs(ebs3);"></i>
						</span>
					</div>
					<!-- ebs3 end -->
					<!-- ebr3 start -->
					<div style="margin-top:10px; position:absolute;left:0px;top:140px;height:50px;width:50px;
					transform:rotate(270deg);">EBR3</div>
					<div ng-show="ebr3" style="margin-top:10px; position:absolute;left:15px;top:140px;height:50px;width:50px;transform:rotate(270deg);">
						<span data-toggle="tooltip" title="{{ebr3.chairName}}">
							<i class="fas fa-chair" style="color:brown;font-size:18px;"></i>
						</span>
						<span data-toggle="tooltip" title="delete">
							<i class="fas fa-trash" style="font-size:10px; cursor:pointer;"
							ng-click="deleteChairs(ebr3);"></i>
						</span>
					</div>
					<!-- ebr3 end -->
					<!-- Entrance Block end -->
					<!-- il1b1 start -->
					<div style="margin-top:20px;position:absolute;left:50px;height:50px;width:50px;top:10px;
					transform:rotate(360deg);">IL1B1</div>
					<div ng-show="il1b1" style="margin-top:20px;position:absolute;left:50px;height:50px;width:50px;top:23px;transform:rotate(360deg);">
						<span data-toggle="tooltip" title="{{il1b1.chairName}}">
							<i class="fas fa-chair" style="color:orange;font-size:18px;"></i>
						</span>
						<span data-toggle="tooltip" title="delete">
							<i class="fas fa-trash" style="font-size:10px; cursor:pointer;"
							ng-click="deleteChairs(il1b1);"></i>
						</span>
					</div>
					<!-- il1b1 end -->
					<!-- il1b2 start -->
					<div style="margin-top:20px;position:absolute;left:110px;height:50px;width:50px;top:10px;
					transform:rotate(360deg);">IL1B2</div>
					<div ng-show="il1b2" style="margin-top:20px;position:absolute;left:110px;height:50px;width:50px;top:23px;transform:rotate(360deg);">
						<span data-toggle="tooltip" title="{{il1b2.chairName}}">
							<i class="fas fa-chair" style="color:orange;font-size:18px;"></i>
						</span>
						<span data-toggle="tooltip" title="delete">
							<i class="fas fa-trash" style="font-size:10px; cursor:pointer;"
							ng-click="deleteChairs(il1b2);"></i>
						</span>
					</div>
					<!-- il1b2 end -->
					<!-- il1b3 start -->
					<div style="margin-top:20px; position:absolute;left:102px;top:185px;height:50px;width:50px;
					transform:rotate(180deg);">IL1B3</div>
					<div ng-show="il1b3" style="margin-top:20px; position:absolute;left:102px;top:172px;height:50px;width:50px;transform:rotate(180deg);">
						<span data-toggle="tooltip" title="{{il1b3.chairName}}">
							<i class="fas fa-chair" style="color:orange;font-size:18px;"></i>
						</span>
						<span data-toggle="tooltip" title="delete">
							<i class="fas fa-trash" style="font-size:10px; cursor:pointer;"
							ng-click="deleteChairs(il1b3);"></i>
						</span>
					</div>
					<!-- il1b3 end -->
					<!-- il1b4 start -->
					<div style="position:absolute;left:180px;height:50px;width:50px;top:10px;
					transform:rotate(270deg);">IL2B1</div>
					<div ng-show="il2b1" style="position:absolute;left:193px;height:50px;width:50px;
					top:10px;transform:rotate(270deg);">
						<span data-toggle="tooltip" title="{{il2b1.chairName}}">
							<i class="fas fa-chair" style="color:blue;font-size:18px;"></i>
						</span>
						<span data-toggle="tooltip" title="delete">
							<i class="fas fa-trash" style="font-size:10px; cursor:pointer;"
							ng-click="deleteChairs(il2b1);"></i>
						</span>
					</div>
					<!-- il1b4 end -->
					<!-- il2b2 start -->
					<div style="position:absolute;left:180px;height:50px;width:50px;top:75px;
					transform:rotate(270deg);">IL2B2</div>
					<div ng-show="il2b2" style="position:absolute;left:193px;height:50px;width:50px;
					top:75px;transform:rotate(270deg);">
						<span data-toggle="tooltip" title="{{il2b2.chairName}}">
							<i class="fas fa-chair" style="color:blue;font-size:18px;"></i>
						</span>
						<span data-toggle="tooltip" title="delete">
							<i class="fas fa-trash" style="font-size:10px; cursor:pointer;"
							ng-click="deleteChairs(il2b2);"></i>
						</span>
					</div>
					<!-- il2b2 end -->
					<!-- il2b3 start -->
					<div style="margin-top:20px;position:absolute;left:210px;height:50px;width:50px;top:67px;
					transform:rotate(90deg);">IL2B3</div>
					<div ng-show="il2b3" style="margin-top:20px;position:absolute;left:197px;height:50px;width:50px;top:67px;transform:rotate(90deg);">
						<span data-toggle="tooltip" title="{{il2b3.chairName}}">
							<i class="fas fa-chair" style="color:blue;font-size:18px;"></i>
						</span>
						<span data-toggle="tooltip" title="delete">
							<i class="fas fa-trash" style="font-size:10px; cursor:pointer;"
							ng-click="deleteChairs(il2b3);"></i>
						</span>
					</div>
					<!-- il2b3 end -->
					<!-- il2b4 start -->
					<div style="margin-top:20px;position:absolute;left:210px;height:50px;width:50px;top:3px;
					transform:rotate(90deg);">IL2B4</div>
					<div ng-show="il2b4" style="margin-top:20px;position:absolute;left:197px;height:50px;width:50px;top:3px;transform:rotate(90deg);">
						<span data-toggle="tooltip" title="{{il2b4.chairName}}">
							<i class="fas fa-chair" style="color:blue;font-size:18px;"></i>
						</span>
						<span data-toggle="tooltip" title="delete">
							<i class="fas fa-trash" style="font-size:10px; cursor:pointer;"
							ng-click="deleteChairs(il2b4);"></i>
						</span>
					</div> 
					<!-- il2b4 end -->
					<!-- il3b2 start -->
					<div style="position:absolute;left:315px;height:50px;width:50px;top:75px;
					transform:rotate(270deg);">IL3B2</div>
					<div ng-show="il3b2" style="position:absolute;left:328px;height:50px;width:50px;
					top:75px;transform:rotate(270deg);">
						<span data-toggle="tooltip" title="{{il3b2.chairName}}">
							<i class="fas fa-chair" style="color:blue;font-size:18px;"></i>
						</span>
						<span data-toggle="tooltip" title="delete">
							<i class="fas fa-trash" style="font-size:10px; cursor:pointer;"
							ng-click="deleteChairs(il3b2);"></i>
						</span>
					</div>
					<!-- il3b2 end -->
					<!-- il3b1 start -->
					<div style="position:absolute;left:315px;height:50px;width:50px;top:5px;
					transform:rotate(270deg);">IL3B1</div>
					<div ng-show="il3b1" style="position:absolute;left:328px;height:50px;width:50px;
					top:5px;transform:rotate(270deg);">
						<span data-toggle="tooltip" title="{{il3b1.chairName}}">
							<i class="fas fa-chair" style="color:blue;font-size:18px;"></i>
						</span>
						<span data-toggle="tooltip" title="delete">
							<i class="fas fa-trash" style="font-size:10px; cursor:pointer;"
							ng-click="deleteChairs(il3b1);"></i>
						</span>
					</div>
					<!-- il3b1 end -->
					<!-- il3b3 start -->
					<div style="margin-top:20px;position:absolute;left:340px;height:50px;width:50px;top:67px;
					transform:rotate(90deg);">IL3B3</div>
					<div ng-show="il3b3" style="margin-top:20px;position:absolute;left:327px;height:50px;width:50px;top:67px;transform:rotate(90deg);">
						<span data-toggle="tooltip" title="{{il3b3.chairName}}">
							<i class="fas fa-chair" style="color:blue;font-size:18px;"></i>
						</span>
						<span data-toggle="tooltip" title="delete">
							<i class="fas fa-trash" style="font-size:10px; cursor:pointer;"
							ng-click="deleteChairs(il3b3);"></i>
						</span>
					</div>
					<!-- il3b3 end -->
					<!-- il3b4 start -->
					<div style="margin-top:20px;position:absolute;left:340px;height:50px;width:50px;top:3px;
					transform:rotate(90deg);">IL3B4</div>
					<div ng-show="il3b4" style="margin-top:20px;position:absolute;left:327px;height:50px;width:50px;top:3px;transform:rotate(90deg);">
						<span data-toggle="tooltip" title="{{il3b4.chairName}}">
							<i class="fas fa-chair" style="color:blue;font-size:18px;"></i>
						</span>
						<span data-toggle="tooltip" title="delete">
							<i class="fas fa-trash" style="font-size:10px; cursor:pointer;"
							ng-click="deleteChairs(il3b4);"></i>
						</span>
					</div>
					<!-- il3b4 end -->
					<!-- direction icons start -->
					<div style="margin-top:10px; position:absolute;left:74px;top:163px;height:50px;width:50px;
					transform:rotate(360deg);">
						<span data-toggle="tooltip"title="Entrance Gate 1">
							<i class="fa fa-arrow-circle-right" style="font-size:24px;cursor:pointer;" 
							ng-click="showE1direction();">
							</i>	
						</span>
					</div>
					<div style="margin-top:10px; position:absolute;left:153px;top:163px;height:50px;width:50px;
					transform:rotate(360deg);">
						<span data-toggle="tooltip" title="Entrance Gate 2">
							<i class="fa fa-arrow-circle-right" style="font-size:24px;cursor:pointer;" 
							ng-click="showE2direction();"></i>	
						</span>
					</div>
					<!-- E1 directions start -->
					<div ng-show="e1direction">
						<div style="top:186px;border-left:2px dotted black;height:55px;
						position:absolute;left:97px;transform-origin: top;transform:rotate(270deg);">
						</div>
						<div style="top:216px;border-left:2px dotted black;height:132px;
						position:absolute;left:129px;transform-origin: top;transform:rotate(180deg);">
						</div>
						<div style="top:85px;border-left:2px dotted black;height:55px;
						position:absolute;left:74px;transform-origin: top;transform:rotate(270deg);">
						</div>
						<div style="top:84px;border-left:2px dotted black;height:19px;
						position:absolute;left:129px;transform-origin: top;transform:rotate(180deg);">
						</div>
						<div style="top:84px;border-left:2px dotted black;height:19px;
						position:absolute;left:75px;transform-origin: top;transform:rotate(180deg);">
						</div>
					</div>
					<!--E1 directions end -->
					<!-- E2 directions start -->
					<div ng-show="e2direction">
						<div style="top:186px;border-left:2px dotted black;height:300px;
						position:absolute;left:176px;transform-origin: top;transform:rotate(270deg);">
						</div>
						<div style="top:185px;border-left:2px dotted black;height:115px;
						position:absolute;left:286px;transform-origin: top;transform:rotate(180deg);">
						</div>
						<div style="top:187px;border-left:2px dotted black;height:133px;
						position:absolute;left:360px;transform-origin: top;transform:rotate(0deg);">
						</div>
						<div style="top:319px;border-left:2px dotted black;height:34px;
						position:absolute;left:360px;transform-origin: top;transform:rotate(90deg);">
						</div>
						<div style="top:184px;border-left:2px dotted black;height:23px;
						position:absolute;left:323px;transform-origin: top;transform:rotate(180deg);">
						</div>
						<div style="top:184px;border-left:2px dotted black;height:23px;
						position:absolute;left:421px;transform-origin: top;transform:rotate(180deg);">
						</div>
						<div style="top:185px;border-left:2px dotted black;height:21px;
						position:absolute;left:477px;transform-origin: top;transform:rotate(0deg);">
						</div>
						<div style="top:71px;border-left:2px dotted black;height:26px;
						position:absolute;left:273px;transform-origin: top;transform:rotate(270deg);">
						</div>
					</div>
					<!-- E2 directions end -->
					<!-- direction icons end -->
				<div style="position:absolute;left:422px;">
					<button class="btn btn-default" ng-click="previousPlan(string);">previous
					</button>
				</div>
				<!-- form start -->
				<div style="margin-top:20px;">
					<div style="margin-bottom:5px;">Name&nbsp;<span style="color:red;">*</span>
						<input type="text" ng-model="name" placeholder="enter chair name">
					</div>
					<div style="margin-top:10px;">Select Space Id&nbsp;<span style="color:red;">*</span>
						<input style="width:277px;" type="text" ng-model="spaceId" placeholder="enter space Id mentioned in the blue print">
					</div>
					<div ng-show="validateChair" style="margin-top:10px;margin-bottom:10px;color:red;">
						Space is not available.Please enter different space Id
					</div>
					<button btn btn-default style="position:absolute;left:398px;background:green;
					border:1px solid green;height:30px;width:100px;color:white;"ng-click="addChairs(spaceId);">Place
					</button>
				</div>
				<!-- form end -->
			</div>
		</div>
	</body>
</html>
